@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
    scroll-behavior: smooth;
}

::-webkit-scrollbar { width: 5px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #252525; }
::-webkit-scrollbar-track {  background-color: #252525;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #252525; border-radius: 0px;}
::-webkit-scrollbar-corner { background-color: rgb(255, 255, 255);}
::-webkit-resizer { background-color: rgb(255, 255, 255);}

           /*Infobar*/ 

.container-fluid {
    padding: 0px;
}

header #infobar {
    background-color:#252525;
    display: flex;
    justify-content: space-between;
}
#contact {
    margin-left: 40px;
}
#phonenumber{
    margin-left: 60px;
}
#gmail {
    margin-left: 70px;
}
#phonenumber img {
    width: 20px;
    height: 15px;
    margin: auto;
}

#gmail img{
    width: 19px;
    height: 17px;
    margin: auto;
}
#phonenumber p {
    color: white;
    margin: auto;
    margin-top: 6px;
    margin-left: 10px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
#gmail p {
    color: white;
    margin: auto;
    margin-left: 10px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;

}
#phonenumber {
    display: flex;
    justify-content: flex-start;
}
#gmail {
    display: flex;
    justify-content: flex-start;
}
#networks {
    margin-bottom: 5px;
    margin-right: 20px;
}
#networks img {
    width: 20px;
    margin: auto;
    transition: opacity 0.3s ease;
}
#networks img:hover {
    opacity: 50%;
    
}
#contact {
    display: flex;
    justify-content: space-between;
}

/*Navbar*/

header nav{
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 247, 247);
    box-shadow: 15px 0px 7px black;
    height: 100px;
}
nav img {
    width: 120px;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#menu{
    margin-top: 20px;
    margin-right: 50px;
    font-size: 20px;
}
#navbarNavAltMarkup a {
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbarNavAltMarkup a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 4px;
  content: "";
  display: block;
  height: 1.5px;
  left: 50%;
  position: absolute;
  background: rgb(126, 126, 126);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#navbarNavAltMarkup a:hover:after { 
  width: 100%; 
  left: 0;
}

#navbarNavAltMarkup {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    font-style: normal;
}


/**Carousel**/

.carousel {
    position: block;
    width: 98%;
    margin: auto;
}